/* Amanda Eng's Portfolio */
/* Breakpoints:
  480px = 30rem
  640px = 40rem
  960px = 60rem
  1024px = 64rem
  1280px = 80rem
  1440px = 90rem
  1920px = 120rem
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  /* Created colour styles using CSS variables, learned from https://www.w3schools.com/css/css3_variables.asp */
  --black: #0F0F10;
  --dark-grey: #57595A;
  --light-grey: #C2C3C5;
  --white: #F7FAFD;

  --teal: #3CB28F;
  --blue: #4593B7;
  --purple: #5D5EBB;
  --coral: #F89C7B;

  --light-teal: #82D7BE;
  --light-blue: #7AC4E7;
  --light-purple: #9293DF;
}

body {
  margin: 0;

  background-color: var(--white);
  color: var(--black);

  font-family: "Instrument Sans", Tahoma, Geneva, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

main {
  margin: 3rem 2rem;
}
@media (min-width: 30rem) {
  main {
    margin: 3rem 4rem;
  }
}
@media (min-width: 60rem) {
  main {
    margin: 3rem 8rem;
  }
}
@media (min-width: 90rem) {
  main {
    margin: 3rem 12rem;
  }
}
@media (min-width: 120rem) {
  main {
    margin: 3rem 16rem;
  }
}

/* DEFAULT TEXT STYLING ---------------------------------------------------------------------------------------------------- */

h1, h2, h3, h4 {
  font-weight: 600;
}

h1 {
  font-size: 2.75rem;
  padding-top: 2.5rem;
}
h2 {
  font-size: 2.25rem;
  padding-top: 1.25rem;
}
h3 {
  font-size: 1.75rem;
  padding-top: 0.75rem;
}
h4 {
  font-size: 1.25rem;
}

p, ol, ul {
  max-width: 40rem;
}

a {
  color: var(--purple);
}
a:hover, a:active {
  color: var(--light-purple);
}
a:focus {
  color: var(--coral);
}

/* NAVIGATION BAR ---------------------------------------------------------------------------------------------------- */
.nav-main {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;

  margin: 0;
  padding: 0.5rem 1rem;

  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;

  background-color: var(--white);
  border-bottom: 1px solid var(--light-grey); /* Shorthand for borders: https://www.w3schools.com/cssref/pr_border-bottom.php */
}

.nav-main a {
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;

  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;

  color: var(--black);
  background-color: none;
  
  transition: color 0.25s ease-in-out; /* Shorthand for transitions: https://developer.mozilla.org/en-US/docs/Web/CSS/transition */
  transition: background-color 0.25s ease-in-out;
}
.nav-main a:active, .nav-main a:hover, .nav-main a:focus {
  color: var(--white);
}
.nav-main .background-teal:active, .nav-main .background-teal:hover, .nav-main .background-teal:focus {
  background-color: var(--teal);
}
.nav-main .background-blue:active, .nav-main .background-blue:hover, .nav-main .background-blue:focus {
  background-color: var(--blue);
}
.nav-main .background-purple:active, .nav-main .background-purple:hover, .nav-main .background-purple:focus {
  background-color: var(--purple);
}

/* FOOTER ---------------------------------------------------------------------------------------------------- */
footer {
  width: 100vw;
  z-index: 9;

  margin: 0;
  padding: 0.25rem 2rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;

  font-size: 0.8rem;

  background-color: var(--white);
  border-top: 1px solid var(--light-grey); /* Shorthand for borders: https://www.w3schools.com/cssref/pr_border-bottom.php */
}