//- 
	Pug (pugjs.org/) is a preprocessing language for HTML. It has it's own syntax, meaning you would have to learn another laguage to work with it effectively. There are some advantages to working with a language like pug though: 
	- templating ability 
	- more legible/simpler markup
	- HTML compression 
	- error prevention
	- reusable code 

doctype html
html(lang="en")

	head
		meta(charset="utf-8")

		link(rel="stylesheet", type="text/css", href="css/fonts.css")
		link(rel="stylesheet", type="text/css", href="css/normalize.css")
		link(rel="stylesheet", type="text/css", href="css/main.css")

		title Amanda Eng

	body
		include inc/_nav.pug

		h1 Hi! I’m Amanda Eng.
		p I’m an aspiring project manager working in creative industries, with experience in design, code, and event planning.